.dashboardPage {
  border-radius: 12px;
}
.dashboardPage__info {
  background-color: #6379f4;
  border-radius: 12px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.dashboardPage__info__button {
  text-align: right;
}
.buttonTransfer {
  text-align: right;
  background-color: #8899f8;
  display: block;
  border: solid #b8c2fe 1px;
  padding: 15px 40px;
  color: white;
  border-radius: 12px;
  margin-bottom: 15px;
}
.buttonTopUp {
  text-align: right;
  background-color: #8899f8;
  display: block;
  border: solid #b8c2fe 1px;
  padding: 15px 40px;
  color: white;
  border-radius: 12px;
}
.dashboardPage__info__historyBar {
  border-radius: 12px;
  border: solid gainsboro 1px;
  box-shadow: 12px 12px 12px gainsboro;
  padding: 10px;
}
.dashboardPage__info__historyStatus {
  border-radius: 12px;
  border: solid gainsboro 1px;
  box-shadow: 12px 12px 12px gainsboro;
  padding: 10px 20px;
  height: 350px;
}
.dashboardPage__info__historyStatusHeader {
}
.dashboardPage__info__historyStatus__viewAll {
  text-align: right;
}
.dashboardPage__info__historyStatus__viewAll:hover {
  cursor: pointer;
  color: #6379f4;
}
.status__responsive {
  display: none;
}
.history__scroll {
  overflow-y: scroll;
  height: 280px;
}
.button__paginationAllign {
  text-align: center;
  margin-top: 30px;
  padding: 0 10px;
}
.button__pagination {
  margin-left: 10px;
  border: solid #6379f4;
  background: #6379f4;
  padding: 5px 20px;
  border-radius: 12px;
}
.button__pagination:hover {
  margin-left: 10px;
  border: none;
  background: #92a2ff;
  padding: 5px 20px;
  border-radius: 12px;
}
.sorting {
  width: 190px;
  text-align: center;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  background-color: gainsboro;
  border-radius: 12px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .dashboardPage {
    border-radius: 12px;
  }
  .dashboardPage__info {
    background-color: #6379f4;
    border-radius: 12px;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  .dashboardPage__info__button {
    text-align: right;
  }
  .buttonTransfer {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 15px 20px;
    color: white;
    border-radius: 12px;
    margin-bottom: 15px;
  }
  .buttonTopUp {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 15px 20px;
    color: white;
    border-radius: 12px;
  }
  .dashboardPage__info__historyBar__price {
    font-size: 18px;
  }
  .dashboardPage__info__historyBar {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px;
  }
  .dashboardPage__info__historyStatus {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px 20px;
  }
  .dashboardPage__info__historyStatusHeader {
    font-size: 13px;
  }
  .dashboardPage__info__historyStatus__viewAll {
    text-align: right;
    font-size: 13px;
  }
  .status__responsive {
    display: none;
  }
  .sorting {
    width: 150px;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: gainsboro;
    border-radius: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .dashboardPage {
    border-radius: 12px;
  }
  .dashboardPage__info {
    background-color: #6379f4;
    border-radius: 12px;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  .dashboardPage__info__button {
    text-align: right;
  }
  .buttonTransfer {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 10px 10px;
    color: white;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 12px;
  }
  .buttonTopUp {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 10px 10px;
    color: white;
    border-radius: 12px;
    font-size: 12px;
  }
  .dashboardPage__info__historyBar__price {
    font-size: 13px;
  }
  .dashboardPage__info__historyBar {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px;
  }
  .dashboardPage__info__historyStatus {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px 20px;
  }
  .dashboardPage__info__historyStatusHeader {
    font-size: 10px;
  }
  .dashboardPage__info__historyStatus__viewAll {
    text-align: right;
    font-size: 10px;
  }
  .status__responsive {
    display: none;
  }
  .sorting {
    width: 100px;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: gainsboro;
    border-radius: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .dashboardPage {
    border-radius: 12px;
  }
  .dashboardPage__info {
    background-color: #6379f4;
    border-radius: 12px;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  .dashboardPage__info__button {
    text-align: right;
  }
  .buttonTransfer {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 10px 10px;
    color: white;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 0px;
  }
  .buttonTopUp {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 10px 10px;
    color: white;
    border-radius: 12px;
    font-size: 0px;
  }
  .dashboardPage__info__historyBar__price {
    font-size: 10px;
  }
  .dashboardPage__info__historyBar {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px;
  }
  .dashboardPage__info__historyStatus {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px 20px;
  }
  .dashboardPage__info__historyStatusHeader {
    font-size: 10px;
    display: none;
  }
  .dashboardPage__info__historyStatus__viewAll {
    text-align: right;
    font-size: 9px;
  }
  .status__responsive {
    display: none;
  }
  .sorting {
    width: 80px;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: gainsboro;
    border-radius: 12px;
    font-size: 10px;
  }
}

@media (max-width: 575.98px) {
  .dashboardPage {
    border-radius: 12px;
  }
  .dashboardPage__info {
    background-color: #6379f4;
    border-radius: 12px;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  .dashboardPage__info__button {
    text-align: right;
  }
  .buttonTransfer {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 10px 10px;
    color: white;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 0px;
  }
  .buttonTopUp {
    text-align: right;
    background-color: #8899f8;
    display: block;
    border: solid #b8c2fe 1px;
    padding: 10px 10px;
    color: white;
    border-radius: 12px;
    font-size: 0px;
  }
  .dashboardPage__info__historyBar__price {
    font-size: 10px;
  }
  .dashboardPage__info__historyBar {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px;
  }
  .dashboardPage__info__historyStatus {
    border-radius: 12px;
    border: solid gainsboro 1px;
    box-shadow: 12px 12px 12px gainsboro;
    padding: 10px 20px;
  }
  .dashboardPage__info__historyStatusHeader {
    font-size: 10px;
    display: none;
  }
  .dashboardPage__info__historyStatus__viewAll {
    text-align: right;
    font-size: 13px;
  }
  .status {
    display: none;
  }
  .status__responsive {
    display: block;
  }
  .sorting {
    width: 70px;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    background-color: gainsboro;
    border-radius: 12px;
    font-size: 10px;
  }
}
