@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100&family=Mulish:wght@200;600;700&family=Nunito+Sans:wght@600&family=Nunito:wght@300&display=swap");

.columnflex1 {
  background-color: #6379f4;
  padding: 30px;
}
.imageTittle {
  display: block;
  width: 10%;
  margin-left: 28%;
  margin-right: auto;
}
.imageProfile {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.imageDescription {
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.textWelcome__header {
  margin-top: 100px;
  text-align: justify;
  margin-bottom: 30px;
  font-weight: bold;
}
.textWelcome {
  text-align: justify;
  font-weight: lighter;
  margin-bottom: 50px;
  font-weight: lighter;
  font-size: medium;
}
.email {
  margin-bottom: 2px;
  height: 50px;
  border: none;
  display: inline;
  background-color: white;
}
.buttoncolor {
  background-color: #6379f4;
  width: 100%;
}
.forgotPassword {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 50px;
}
.account {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.errorMessage {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}
.succesMessage {
  color: green;
  margin-bottom: 20px;
  text-align: center;
}
.pinRow {
  margin-bottom: 100px;
  padding: 0 1px;
  text-align: center;
  margin-left: 70px;
}
.pinBox {
  width: 40px;
  height: 50px;
  border-radius: 8px;
  margin-right: 20px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .columnflex1 {
    background-color: #6379f4;
    padding: 30px;
    height: 730px;
  }
  .imageTittle {
    width: 13%;
    margin-left: 16%;
    margin-right: auto;
  }
  .imageProfile {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .imageDescription {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .textWelcome__header {
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  .pinRow {
    margin-bottom: 100px;
    padding: 0 1px;
    text-align: center;
    margin-left: 30px;
  }
  .pinBox {
    width: 40px;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .columnflex1 {
    background-color: #6379f4;
    padding: 30px;
    height: 730px;
  }
  .imageTittle {
    width: 15%;
    margin-left: 16%;
    margin-right: auto;
  }
  .imageProfile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .imageDescription {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .textWelcome__header {
    margin-top: 40px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  .textWelcome {
    text-align: justify;
    font-weight: lighter;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 13px;
  }
  .email {
    margin-bottom: 2px;
    height: 50px;
    border: none;
    display: inline;
    background-color: white;
    font-size: 13px;
  }
  .buttoncolor {
    background-color: #6379f4;
    width: 100%;
  }
  .forgotPassword {
    margin-top: 7px;
    text-align: right;
    margin-bottom: 60px;
    font-size: 13px;
  }
  .account {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 13px;
  }
  .pinRow {
    margin-bottom: 100px;
    padding: 0 1px;
    text-align: center;
    margin-left: 10px;
  }
  .pinBox {
    width: 30px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .columnflex1 {
    background-color: #6379f4;
    padding: 30px;
    height: 730px;
    display: none;
  }
  .imageTittle {
    width: 15%;
    margin-left: 10%;
    margin-right: auto;
  }
  .imageProfile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .imageDescription {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .textWelcome__header {
    margin-top: 40px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
  }
  .textWelcome {
    text-align: justify;
    font-weight: lighter;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 10px;
  }
  .email {
    margin-bottom: 2px;
    height: 20px;
    border: none;
    display: inline;
    background-color: white;
    font-size: 11px;
  }
  .buttoncolor {
    background-color: #6379f4;
    width: 100%;
  }
  .forgotPassword {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 60px;
    font-size: 7px;
  }
  .account {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 10px;
  }
  .pinRow {
    margin-bottom: 100px;
    padding: 0 1px;
    text-align: center;
    margin-left: 10px;
  }
  .pinBox {
    width: 20px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
  }
}

@media (max-width: 575.98px) {
  .columnflex1 {
    background-color: #6379f4;
    padding: 15px;
    height: 730px;
    display: none;
  }
  .imageTittle {
    width: 15%;
    margin-left: 10%;
    margin-right: auto;
    display: none;
  }
  .imageProfile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    display: none;
  }
  .imageDescription {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .inputForm {
  }
  .textWelcome__header {
    margin-top: 40px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
  }
  .textWelcome {
    text-align: justify;
    font-weight: lighter;
    margin-bottom: 30px;
    font-weight: lighter;
    font-size: 10px;
  }
  .email {
    margin-bottom: 2px;
    height: 20px;
    border: none;
    display: inline;
    background-color: white;
    font-size: 11px;
  }
  .buttoncolor {
    background-color: #6379f4;
    width: 100%;
  }
  .forgotPassword {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 60px;
    font-size: 7px;
  }
  .account {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 10px;
  }
  .pinRow {
    margin-bottom: 100px;
    padding: 0 1px;
    text-align: center;
    margin-left: 10px;
  }
  .pinBox {
    width: 20px;
    height: 30px;
    border-radius: 8px;
    margin-right: 2px;
  }
}
